.row
  .col-12
    a(
      class="btn btn-info m-1"
      href="/users/not-friend"
    ) List of users
    a(
      class="btn btn-info m-1"
      href="/users/friends"
    ) List of friends
    a(
      class="btn btn-info m-1"
      href="/users/request"
    ) Sent request
    a(
      class="btn btn-info m-1"
      href="/users/accept"
    ) Request pending