extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3

    include ../../partials/list-btn-users.pug
    br
    .row
      .col-12
        +box-head("Invited Friend")
    br
    .row(data-users-accept=user.id)
      each user in users
        .col-6(user-id=user.id)
          div(class="box-user")
            div(class="inner-avatar")
              a(href=`/user/detail/${user.id}`)
                img(
                  src="https://robohash.org/hicveldicta.png"
                  alt=user.fullName
                )
            div(class="inner-info")
              a(href=`/user/detail/${user.id}` class="inner-name") #{user.fullName}
              div(class="inner-buttons")
                button(
                  class="btn btn-sm btn-success mr-1"
                  btn-accept-friend=user.id
                ) Accept
                button(
                  class="btn btn-sm btn-danger mr-1"
                  btn-refuse-friend=user.id
                ) Remove
                button(
                  class="btn btn-sm btn-danger mr-1"
                  btn-deleted-friend
                  disabled
                ) Removed
                button(
                  class="btn btn-sm btn-success mr-1"
                  btn-accepted-friend
                  disabled
                ) Accepted


block script
  script( src="/js/users.js")