extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3

    include ../../partials/list-btn-users.pug
    br
    .row
      .col-12
        +box-head("List friends")
    br
    .row(data-users-friend)
      each user in users
        .col-6(user-id=user.id)
          div(class="box-user")
            div(class="inner-avatar")
              img(
                src="https://robohash.org/hicveldicta.png"
                alt=user.fullName
              )
            div(class="inner-info")
              div(class="inner-name") #{user.fullName}
              div(class="inner-buttons")
                button(
                  class="btn btn-sm btn-primary mr-1"
                  btn-messenger
                ) Message
                button(
                  class="btn btn-sm btn-danger mr-1"
                  btn-unfriend=user.id
                ) Unfriend
                button(
                  class="btn btn-sm btn-danger mr-1"
                  btn-unfriended
                  disabled
                ) Unfriended
            div(
              class="inner-status"
              status=user.statusOnline
            ) <i class="fa-solid fa-circle"></i>


block script
  script( src="/js/users.js")